<div id="<%= dom_id client %>">
<div class="card my-3">
  <div class="card-body">
    <h5 class="card-title">
      <strong>Name:</strong>
    <%= client.name %>
    </h5>
    <p class="card-text">
      <strong>Email:</strong>
    <%= client.email %>
    </p>    
  </div>

  <div class="card-body">
  <h5 class="card-title mb-3">Movies assigned:</h5>
    <ul>
  <% @movies.each do |movie| %>
    <li>
    <%= link_to movie, style:"text-decoration: none; color: black;" do %>
      <%= movie.title %>
    <% end %>
    </li>
  <% end %>
</ul>
  </div>
</div>